body{
    background-color: #000000;
    color: white;
    overflow-x: hidden;
}

.cards{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    flex-wrap: wrap;
    height: 550px;
}

.main-root{
    display: flex;
    flex-direction: column;
}