.root-footer{
    display: flex;
    width: 90%;
    margin-left: 5%;
    justify-content: space-between;
}
.data-footer{
    color: #A5CC82;
}
.data-footer a{
    text-decoration: none;
    color: #00467F;
}
.mydata-footer{
    display: flex;
    color: #A5CC82;
}
.mydata-footer a{
    text-decoration: none;
    color: #00467F;
}