.main-header{
    width: 90%;
    background-color:transparent;
    text-align: center;
    margin-left: 5%;
    margin-top: 6px;
    border: 1px solid;
    color: white;
    border-color: linear-gradient(To right, #00467F, #A5CC82);
    background: linear-gradient(To right, #00467F, #A5CC82);
}