.main-header{
    width: 90%;
    background-color:transparent;
    text-align: center;
    margin-left: 5%;
    margin-top: 6px;
    color: white;
    border: 1px solid gray;
}

@media(max-width:1000px){
    .main-header{
        position: absolute;
        z-index: -100;
        visibility: hidden;
    }
}