.main-organizer{
    margin-left: 8%;
}

.currencymain{
    width: 23%;
    height: 150px;
    margin-top: 80px;
    float: left;
}
.currencymain h3{
    width: 100%;
    transform: scale(0.8);
    text-align: center;
    border: 1px solid red;
}
.currencyrow{
    max-height: 170px;
}
.currency{
    width: 100%;
    height: 67px;
    transform: scale(0.9);
    overflow-y: hidden;
    border: 1px solid red;
}
.currencymain:hover h3{
    color: gold;
    transform: scale(1);
    font-weight: bold;
}
.currencymain:hover .currency{
    transform: scale(1);
    height: 155px;
    z-index: 1;
}
.currencymain:hover .currency div{
    visibility: hidden;
    position: absolute;
}
@media(max-width:1000px){
    .main-organizer{
        margin-left: 15%;
    }    
    .currencymain{
        float: none;
        width: 85%;
        height: 30%;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .currencymain:hover{
        margin-bottom: 30%;
        height: 50%;
    }
    .currencymain:hover .currency{
        height: 30%;
        width: 98%;
        margin-top: 1px;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .currency{
        width: 100%;
        height: 145px;
        font-size: 35px;
    }
    .currencymain:hover h3{
        width: 98%;
        /*overflow-x: hidden;*/
        transform: scale(1);
        font-size: 25px;
        height: 30px;
    }
}